<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016 Qualcomm Technologies, Inc.
All Rights Reserved.
Confidential and Proprietary - Qualcomm Technologies, Inc.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.launcher3.overlay.LatamClaroChile">
    <overlay android:targetPackage="com.android.launcher3" android:priority="1200"/>
</manifest>
