<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016 Qualcomm Technologies, Inc.
All Rights Reserved.
Confidential and Proprietary - Qualcomm Technologies, Inc.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mms.overlay.TelecomItaliaMobile">
    <overlay android:targetPackage="com.android.mms" android:priority="1100"/>
</manifest>
