<!--
  Copyright (c) 2015 Qualcomm Technologies, Inc.
  All Rights Reserved.
  Confidential and Proprietary - Qualcomm Technologies, Inc.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.systemui.overlay.LatamTelefonica">
    <overlay android:targetPackage="com.android.systemui" android:priority="1100"/>
</manifest>

