<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2016 Qualcomm Technologies, Inc.
All Rights Reserved.
Confidential and Proprietary - Qualcomm Technologies, Inc.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.qti.mobiledatapromptdisplay"
    android:sharedUserId="android.uid.phone">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:name="MobileDataPromptDisplayApplication"
        android:persistent="true"
        android:allowBackup="true">
        <activity
            android:name=".MobileDataPromptDisplayActivity"
            android:theme="@android:style/Theme.Material.Light.Dialog">
        </activity>
    </application>

</manifest>
