<?xml version="1.0" encoding="utf-8"?>
<!--
Copy right (c) 2015-2016 Qualcomm Technologies, Inc.
All Rights Reserved.
Confidential and Proprietary - Qualcomm Technologies, Inc.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.overlay.DTCommon">
    <overlay android:targetPackage="android" android:priority="1100"/>
</manifest>
